# macOS
.DS_Store

# Node / Web
node_modules/
js/dist/

# Android
android/.gradle/
android/build/
android/**/build/
android/.kotlin/
android/local.properties
android/captures/
*.iml
.idea/

# iOS / Swift
.build/
.swiftpm/
Pods/
DerivedData/
*.xcuserstate

# Flutter / Dart
.dart_tool/
flutter/build/
flutter_native/build/
.packages
.flutter-plugins
.flutter-plugins-dependencies
